body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.header{
	background: #333;
}
.navbar-default{
	background: transparent;
    border: none;
    font-weight: 700;
    padding-top: 28px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: red;
    background: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#a8a8a8;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
	transition: all 0.5s ease;
}
.navbar-form{
	padding: 0;
}
.btn-link{
	margin-right: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.navbar-default .btn-link:focus, .navbar-default .btn-link:hover{
	color:#fff;
	border: 1px solid #a7a7a7;
    border-radius: 5px;
    text-decoration: none;
    background: #a7a7a7;
}
.btn-danger{
	border:none;
	background: #d9534f;
	transition: all 0.5s ease;
}
.btn-danger:hover {
    color: #fff;
    background: #bc3e4b;
}

.navbar-collapse{
	background: #333;
	border-top:none;
}

.navbar-form{
	background: #333;
	border-top: none;
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}
h1{
	text-align: center;
	color:#fff;
	font-weight: 300;
	font-size: 38px;
}
h1 span{
	font-weight: 900;
}