body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:#000;
}
.header{
	background: #333;
}
.navbar-default{
	background: transparent;
    border: none;
    font-weight: 700;
    padding-top: 28px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: red;
    background: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#a8a8a8;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
	transition: all 0.5s ease;
}
.navbar-form{
	padding: 0;
}
.btn-link{
	margin-right: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.navbar-default .btn-link:focus, .navbar-default .btn-link:hover{
	color:#fff;
	border: 1px solid #a7a7a7;
    border-radius: 5px;
    text-decoration: none;
    background: #a7a7a7;
}
.btn-danger{
	border:none;
	background: #d9534f;
	transition: all 0.5s ease;
}
.btn-danger:hover {
    color: #fff;
    background: #bc3e4b;
}

.navbar-collapse{
	background: #333;
	border-top:none;
}

.navbar-form{
	background: #333;
	border-top: none;
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}
h1{
	text-align: center;
	color:#fff;
	font-weight: 300;
	font-size: 38px;
	padding-bottom: 43px;
}
h1 span{
	font-weight: 900;
}

.map{
	height: 475px;
	background: gray;
}
.map>.row{
	position: relative;
}
.map_eventCard{
	position: absolute;
	top:250px;
	left:190px;
	width: 300px;
	background: #fff;
	border-radius: 5px;
}

.eventCard_Pict{
	width: 300px;
}
.map_eventCard h2{
	font-size: 18px;
	margin-top: 0;
}
.map_eventCard h3{
	font-size: 14px;
	color:#646464;
}
.map_eventCard p{
	font-size: 12px;
	color: #b9b9b9;
}
.map_eventCard_description{
	position: relative;
	width: 257px;
	margin-top: 10px;
	margin-left: 15px;
	padding-bottom: 26px;
}
.map_eventCard_description:after{
	content:"";
	position: absolute;
	bottom: 0;
	right:50px;
	width: 50px;
	height: 50px;
	color:#fff;
	transform: skewX(45deg);
}
.map_description p{
	font-weight: 700;
	width: 133px;
	text-align: right;
	color: #fe2232;
	margin-left: 200px;
}
.map_description p span{
	font-size: 48px;
}